* {
  margin: 0;
}

.header {
  background-color: #ffffff;
  padding: 0.75rem 2rem;
  border-bottom: 1px solid #1e293b;
}

.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LEFT */
.logo {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 600;
  color: #1e293b;
}

/* CENTER */
.nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-center a {
  color: #080809;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
}

.nav-center a:hover {
  color: #18700c;
}

/* RIGHT */
.login-btn {
  background-color: #2563eb;
  color: #ffffff;
  padding: 0.4rem 1rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.login-btn:hover {
  background-color: #1d4ed8;
}
